<h1>Pagina de contacto</h1>
<h2>esta es mi pagina de contacto</h2>
<p>si, esta es</p>


<h2>¿Who do you want to contact?</h2>
<form action="/contact" method="get">
  <input type="text" name="member"   value="<%= params[:member] %>" placeholder="Who are you looking for?" >
  <input type="submit">
</form>

<h2>Meet our team</h2>
<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<%= link_to "Go bach home", root_path %>
